.events {
    max-width: 1440px;
    margin: 64px auto;
    position: relative;
}

.events article {
    display: flex;
    padding: 26px;
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.17);
}

.events h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 36px;
    margin-bottom: 10px;
}

.events h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 42px;
    color: #3d2514;
    text-transform: uppercase;
}

.events p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #3d3d3d;
    line-height: 1.5;
    margin-top: 50px;

}

.events ul {
    position: absolute;
    bottom: 32px;
    left: 25px
}

.events li {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #dcdcdc;
}

.events li:first-of-type {
    background: #ffc045;
}

.events li:hover {
    border: 1px solid;
    background: #ffc045;
}