.footer { 
    position: relative;
    max-width: 1326px;
    margin: auto;
    color: #fff;
    margin-bottom: 80px;
}

.footer .top-side {
    position: absolute;
    top: 58px;
    left: 20px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
}

.footer .top-side .logo-wrapper{
    flex: 0 0 100%;
    margin-bottom: 48px;
}

.footer .text-and-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .top-side p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 25px;
    width: 40%;
}

.footer .contacts { margin-right: 120px; }

.footer .contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.footer .contacts li:last-of-type { margin-bottom: 0; }

.footer .contacts span {
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    color: #fff;
    font-weight: 700px;
    margin-left: 34px;
}

.footer .bottom-side {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    left: 14px;
    bottom: 0;
}

.footer small{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
}

.footer .social-media { display: flex; }

.footer .social-media li { margin-left: 12px; }



