.landing { 
    background-image: url(../assets/background.png);
    display: flex;
    justify-content: space-between;
    margin-top: -193px;
    padding: 213px 56px 78px;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 76px;
}

.dashed {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #3d2514;
    border: 1px dashed #3d2514;
    padding: 12px 18px 10px;
    margin-bottom: 24px;
}

.landing h2, .landing h4 {
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 4px 4.5px #fee8bc;
}

.landing h2 { font-size: 114px; }

.landing h4 { font-size: 56px ; }

.burger-container { 
    position: relative;
}

.burger-container img {
    position: relative;
    z-index: 2;
}

.glow {
    z-index: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 -60px 160px 216px #ffde9c;
}

.circle {
    z-index: 2;
    position: absolute;
    left: 30px;
    bottom: 0px;
    display: flex;
    align-items: center;
    background: #bf2222;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    padding: 12px;
}

.price {
    font-family: 'Bebas Neue', cursive;
    border: 2px dashed #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.price-top span:first-child { font-size: 70px; }

.price-top span:last-child { font-size: 32px; }

.price div:last-child { 
    font-size: 30px; 
    letter-spacing: 6px;

}


