.offers {
    display: flex;
    justify-content: space-between;
    padding: 70px 108px;
}

.offers > div { flex: 1 1 500px; }

.card {
    height: 192px;
    padding: 30px 24px;
}

.big-card {
    background: url(../assets/Big-foto.png) no-repeat;
    width: 596px;
    height: 420px;
    margin-right: 42px;
    padding: 30px 24px;
}

.card.first {
    background: url(../assets/small-card_1.png) no-repeat;
    margin-bottom: 35px;
}

.card.second {
    background: url(../assets/small-card_2.png) no-repeat;
}

.card div {
    width: 33%;
}

.big-card, .card h2 {
    font-size: 38px;
}

.big-card, .card h4 { 
    margin-bottom: 2px;
    font-size: 25px;
}

.big-card, .card h2, .card h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #fff;
}

