@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@500;600&family=Roboto:ital,wght@1,400;1,700&display=swap');

//breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//color

$text-color: #1f373d;
$primary-color: #ffcc01;
$secondary-color: #96bece;
$white: #fff;

//size

$text-size: 13px;

//border

$border-radius: 5px;
$border-color: #1f373d;