//font-family: 'Montserrat', sans-serif;

//color

$text-color: #1f373d;
$primary-color: #96bece;
$secondary-color: #ffcc01;

//text

$text-font: 'Montserrat', sans-serif;

//border

$border-radius: 5px;


//breakepoints

$mobile: 375px;
$tablet: 768px;