@import './theme';


@mixin flex-layout($horizontal: center, $vertical: center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}


@mixin display-desktop {
    display: flex;
    justify-content: space-between;
}
@mixin display-mobile {
    display: block;
}

//fontai

@mixin font_25 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1;
}
@mixin font_13 {
    font-size: 13px;
    font-weight: 400;  
}

