:root {
    --primary: pink;
    --secondary: grey;
    --background-color: green;
    --das: yellow;
    --brand-shadow: 0 0 3px 4px #000;
    --margin-xs: 10px;
}

body {
    background: var(--secondary);

}

.shadow {
    width: 100px;
    height: 100px;
    margin: var(--margin-xs);
    box-shadow: var(--brand-shadow);
    background: var(--primary);
}

.cube {
    width: 50px;
    height: 50px;
    margin: var(--margin-xs);
    box-shadow: var(--brand-shadow);
    background: var(--primary);
}