footer {
    position: relative;
    width: 1326px;
    margin: auto;
    color: #fff;
    margin-bottom: 80px;
}

footer img {
    margin-right: 42px;
}

footer .top-side {
    position: absolute;
    top: 58px;
    left: 20px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
}

footer .top-side .logo-wrapper {
    flex: 0 0 100;
    margin-bottom: 48px;
}

footer .text-and-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .text-and-contacts p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 25px;
    width: 45%;
}

footer .contacts {
    margin-right: 15%;
}

footer .contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

footer .contacts ul {
    margin-bottom: 213px;
}
footer .contacts li:last-of-type {
    margin-bottom: 0;
}
footer .contacts span {
    font-family: 'Bebas Neue', cursive;
    line-height: 38px;;
    font-size:21px;
    font-weight: 500;
    margin-left: 34px;
}
footer .bottom-side {
    position:absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px 30px 42px;
    left: 14px;
    bottom:0;
}
footer .small {
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
}
footer .social-media {
    display: flex;
}
footer .social-media li {
    margin-left: 12px;
}