.offers {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 70px 108px;
    margin: auto;
}

.left-side-burger {
    margin-right: 24px;
}

.burger-headings {
    position: absolute;
    top: 30px;
    left: 25px;
    color: #fff;
    width: 33%;
}

.burger-headings:first-of-type { width: 50%; }

.burger-headings h4 { font-size: 28px; }

.burger-headings h2 { font-size: 36px; }

.right-side-burgers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.relative {
    position: relative;
}

