.registration__form--input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: pink;
}

.login__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.login__button--confirm {
    color: green;
}

.login__button--cancel {
    color: red;
}